.form {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    margin: 15px auto;
    border-radius: 15px;
    border: none;
    background-color: var(--color-soft);
}

.form-control {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 15px 0;
}

.form-control:focus {
    background-color: var(--color-dark);
    color: white;
    box-shadow: 0 0 15px 2px var(--color-blue-dark);
}

.form-btn {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 15px 0;
    background: var(--color-success);
    color: var(--color-soft);
}

.form-title {
    font-size: 30px;
    color: var(--color-blue-dark);
    padding: 15px;
}

.form-subtitle {
    width: 100%;
    font-size: 15px;
    color: var(--color-blue-dark);
    padding: 10px;
}