#menu-container {
    text-align: center;
    margin: 30px;
    border: 2px solid #000;
    padding: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #f9f9f9; /* Fondo del contenedor del menú */
}

.menu-item a {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    margin: 5px; /* Separación entre botones */
    border-radius: 5px; /* Bordes redondeados de los botones */
    display: inline-block;
    text-decoration: none; /* Quitar el subrayado de los enlaces */
    transition: background-color 0.3s ease;
}

.menu-item a:hover {
    background-color: #0056b3;
}

.menu-row {
    display: flex;
    justify-content: space-around;
    margin: 10px 0; /* Espacio vertical entre filas de botones */
}

h1 {
    color: #333;
    margin-bottom: 20px;
}
