#submenu-container {
    text-align: left; 
    margin: 30px auto;
    padding: 20px;
    border: 2px solid #000;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #f9f9f9;
    width: 80%;
    max-width: 800px; 
}

#form-solicitud-cotizacion {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

.form-group input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #0056b3;
}

.logout-container {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.logout-button, .view-solicitudes-button {
    background-color: #dc3545;
    color: white;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover, .view-solicitudes-button:hover {
    background-color: #001e3f;
}


.view-solicitudes-button {
    background-color: #055cb9; 
    position: fixed; 
    right: 30px; 
    bottom: 30px; 
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view-solicitudes-button:hover {
    background-color: #004085;
}

.logout-container {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.logout-button {
    background-color: #dc3545;
    color: white;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #bd2130;
}

.back-button {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #0056b3;
}